<div class="tab-pane fade" id="v-pills-wallet" role="tabpanel" aria-labelledby="v-pills-wallet-tab"
                tabindex="0">
                <div class="row">
                  <div class="col-md-12 mb-4">
                    <div class="wallet-title">
                      <h3 class="text-capitalize">Wallet</h3>
                    </div>
                    <hr />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6 mb-3">
                    <div class="card mb-3">
                      <div class="card-body">
                        <h4>Balance: $ <%= wallet.balance %>
                        </h4>
                        <button class="btn bg1 cl0 bor1 mt-3" data-bs-toggle="modal" data-bs-target="#addMoneyModal">
                          + Add Money
                        </button>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- Wallet Transactions with Pagination -->
                <div class="row">
                  <div class="col-lg-12 mb-3">
                    <h4 class="mb-4">Transactions</h4>
                    <hr />
                    <% if (transactions.length> 0) { %>
                      <% transactions.forEach(function(transaction) { %>
                        <div class="card mb-3" id="transaction-<%= transaction._id %>">
                          <div class="card-body">
                            <div class="transaction-date">
                              <strong>Date:</strong>
                              <%= new Date(transaction.date).toLocaleString() %>
                            </div>
                            <div class="transaction-amount">
                              <strong>Amount:</strong> $<%= transaction.amount %>
                            </div>
                            <div class="transaction-type">
                              <strong>Type:</strong>
                              <%= transaction.type %>
                            </div>
                            <% if (transaction.message) { %>
                              <div class="transaction-message">
                                <strong>Message:</strong>
                                <%= transaction.message %>
                              </div>
                              <% } %>
                          </div>
                        </div>
                        <% }); %>
                          <% } else { %>
                            <p>No transactions found.</p>
                            <% } %>

                              <!-- Pagination Controls -->
                              <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <% if (currentPage> 1) { %>
                                    <li class="page-item">
                                      <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                      </a>
                                    </li>
                                    <% } else { %>
                                      <li class="page-item disabled">
                                        <span class="page-link">&laquo;</span>
                                      </li>
                                      <% } %>

                                        <% for (let i=1; i <=totalPages; i++) { %>
                                          <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                            <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>">
                                              <%= i %>
                                            </a>
                                          </li>
                                          <% } %>

                                            <% if (currentPage < totalPages) { %>
                                              <li class="page-item">
                                                <a class="page-link"
                                                  href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"
                                                  aria-label="Next">
                                                  <span aria-hidden="true">&raquo;</span>
                                                </a>
                                              </li>
                                              <% } else { %>
                                                <li class="page-item disabled">
                                                  <span class="page-link">&raquo;</span>
                                                </li>
                                                <% } %>
                                </ul>
                              </nav>
                  </div>
                </div>


              </div>