<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div id='lens'></div>
                    <div id='slideshow-items-container'>
                        <img class='slideshow-items active'
                            src='/uploads/products-images/crp/<%= product.primaryImages[0].name %>'>
                        <img class='slideshow-items'
                            src='/uploads/products-images/crp/<%= product.secondaryImages[0].name %>'>
                        <img class='slideshow-items'
                            src='/uploads/products-images/crp/<%= product.secondaryImages[1].name %>'>
                    </div>
                    <div id='result'></div>
                    <div class='row'>
                        <img class='slideshow-thumbnails active'
                            src='/uploads/products-images/crp/<%= product.primaryImages[0].name %>'>
                        <img class='slideshow-thumbnails'
                            src='/uploads/products-images/crp/<%= product.secondaryImages[0].name %>'>
                        <img class='slideshow-thumbnails'
                            src='/uploads/products-images/crp/<%= product.secondaryImages[1].name %>'>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <%= product.product_name.charAt(0).toUpperCase() + product.product_name.slice(1) %>
                    </h4>


                    <!-- Category Offer Section -->
                    <% if (product.category && product.category.onOffer) { %>
                        <div class="alert alert-info mb-4" role="alert">
                            <h4 class="alert-heading">Category Offer!</h4>
                            <p class="mb-0">Items in this category are discounted by <strong>
                                    <%= product.category.offerDiscountRate %>%
                                </strong>!</p>
                        </div>
                        <% } %>






                            <!-- Product Offer Section -->
                            <% if (product.onOffer) { %>
                                <div class="alert alert-success mb-4" role="alert">
                                    <h4 class="alert-heading">Special Offer!</h4>
                                    <p class="mb-0">Get this product for just <strong>$<%= product.offerDiscountPrice %>
                                        </strong> (was <del>$<%= product.price %></del>).</p>
                                    <p class="mb-0">Save <strong>
                                            <%= product.offerDiscountRate %>%
                                        </strong>!</p>
                                </div>
                                <% } else { %>
                                    <p class="h4">$<%= product.price %>
                                    </p>
                                    <% } %>

                                        <p class="stext-102 cl3 p-t-23">
                                            <%= product.description %>
                                        </p>

                                       <!-- Add to Cart Section -->
        <div class="flex-w flex-r-m p-b-10">
            <div class="size-204 flex-w flex-m respon6-next">
                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-minus"></i>
                    </div>

                    <input id="num-product" class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" min="1">

                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                        <i class="fs-16 zmdi zmdi-plus"></i>
                    </div>
                </div>

                <button id="addToCartBtn" class="btn btn-primary" data-product-id="<%= product._id %>" <% if (product.stock === 0) { %> disabled <% } %>>
                    Add to Cart
                </button>
                <% if (product.stock === 0) { %>
                    <p id="stock-status" style="color: red;">This product is out of stock.</p>
                <% } else { %>
                    <p id="stock-status" class="text text-success"><%= product.stock %> left in stock</p>
                <% } %>
            </div>
        </div>
    </div>

                </div>

            </div>

            <!-- Social Media Links -->
            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                <div class="flex-m bor9 p-r-10 m-r-11">
                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                        data-tooltip="Add to Wishlist">
                        <i class="zmdi zmdi-favorite"></i>
                    </a>
                </div>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                    data-tooltip="Facebook">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                    data-tooltip="Twitter">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                    data-tooltip="Google Plus">
                    <i class="fa fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
    </div>

    <div class="bor10 m-t-50 p-t-43 p-b-40">
        <!-- Tab01 -->
        <div class="tab01">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item p-b-10">
                    <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                </li>
                <li class="nav-item p-b-10">
                    <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (1)</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-t-43">
                <!-- Description Tab -->
                <div class="tab-pane fade show active" id="description" role="tabpanel">
                    <div class="how-pos2 p-lr-15-md">
                        <p class="stext-102 cl6">
                            <%= product.description %>
                        </p>
                    </div>
                </div>

                <!-- Reviews Tab -->
                <div class="tab-pane fade" id="reviews" role="tabpanel">
                    <div class="row">
                        <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                            <div class="p-b-30 m-lr-15-sm">
                                <!-- Display Reviews -->
                                <ul id="reviews-list">
                                    <% reviews.forEach(review=> { %>
                                        <li>
                                            <strong>
                                                <%= review.userId.name %>:
                                            </strong>
                                            <%= review.rating %> stars
                                                <p>
                                                    <%= review.comment %>
                                                </p>
                                                <p><small>
                                                        <%= review.createdAt.toDateString() %>
                                                    </small></p>
                                        </li>
                                        <% }) %>
                                </ul>

                                <!-- Add Review -->
                                <form action="/shop/product/<%= product._id %>/review" method="POST" class="w-full">
                                    <h5 class="mtext-108 cl2 p-b-7">Add a review</h5>
                                    <p class="stext-102 cl6">Your email address will not be published. Required fields
                                        are marked *</p>

                                    <div class="flex-w flex-m p-t-50 p-b-23">
                                        <span class="stext-102 cl3 m-r-16">Your Rating</span>
                                        <span class="wrap-rating fs-18 cl11 pointer">
                                            <% for (let i=1; i <=5; i++) { %>
                                                <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                <% } %>
                                                    <input class="dis-none" type="number" name="rating" required>
                                        </span>
                                    </div>

                                    <div class="row p-b-25">
                                        <div class="col-12 p-b-5">
                                            <label class="stext-102 cl3" for="review">Your review</label>
                                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" id="review"
                                                name="comment" required></textarea>
                                        </div>

                                        <div class="col-sm-6 p-b-5">
                                            <label class="stext-102 cl3" for="name">Name</label>
                                            <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="name" type="text"
                                                name="name" required>
                                        </div>

                                        <div class="col-sm-6 p-b-5">
                                            <label class="stext-102 cl3" for="email">Email</label>
                                            <input class="size-111 bor8 stext-102 cl2 p-lr-20" id="email" type="email"
                                                name="email" required>
                                        </div>
                                    </div>

                                    <button type="submit"
                                        class="flex-c-m stext-101 cl0 size-119 bg3 bor1 hov-btn3 p-lr-15 trans-04 m-b-10">
                                        Submit
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {

        $('.slideshow-thumbnails').hover(function () { changeSlide($(this)); });

        $(document).mousemove(function (e) {
            var x = e.clientX; var y = e.clientY;

            var x = e.clientX; var y = e.clientY;

            var imgx1 = $('.slideshow-items.active').offset().left;
            var imgx2 = $('.slideshow-items.active').outerWidth() + imgx1;
            var imgy1 = $('.slideshow-items.active').offset().top;
            var imgy2 = $('.slideshow-items.active').outerHeight() + imgy1;

            if (x > imgx1 && x < imgx2 && y > imgy1 && y < imgy2) {
                $('#lens').show(); $('#result').show();
                imageZoom($('.slideshow-items.active'), $('#result'), $('#lens'));
            } else {
                $('#lens').hide(); $('#result').hide();
            }

        });

    });

    function imageZoom(img, result, lens) {

        result.width(img.innerWidth()); result.height(img.innerHeight());
        lens.width(img.innerWidth() / 2); lens.height(img.innerHeight() / 2);

        result.offset({ top: img.offset().top, left: img.offset().left + img.outerWidth() + 10 });

        var cx = img.innerWidth() / lens.innerWidth(); var cy = img.innerHeight() / lens.innerHeight();

        result.css('backgroundImage', 'url(' + img.attr('src') + ')');
        result.css('backgroundSize', img.width() * cx + 'px ' + img.height() * cy + 'px');

        lens.mousemove(function (e) { moveLens(e); });
        img.mousemove(function (e) { moveLens(e); });
        lens.on('touchmove', function () { moveLens(); })
        img.on('touchmove', function () { moveLens(); })

        function moveLens(e) {
            var lens = $('#lens');
            var x = e.pageX - lens.outerWidth() / 2;
            var y = e.pageY - lens.outerHeight() / 2;

            // Ensure lens doesn't go out of bounds
            x = Math.max(0, Math.min(x, $('.slideshow-items.active').width() - lens.outerWidth()));
            y = Math.max(0, Math.min(y, $('.slideshow-items.active').height() - lens.outerHeight()));

            lens.css({ top: y, left: x });

            var cx = $('.slideshow-items.active').innerWidth() / lens.innerWidth();
            var cy = $('.slideshow-items.active').innerHeight() / lens.innerHeight();

            $('#result').css({
                backgroundPosition: '-' + (x * cx) + 'px -' + (y * cy) + 'px'
            });
        }

    }


    function changeSlide(elm) {
        $('.slideshow-items').removeClass('active');
        $('.slideshow-items').eq(elm.index()).addClass('active');
        $('.slideshow-thumbnails').removeClass('active');
        $('.slideshow-thumbnails').eq(elm.index()).addClass('active');
    }

</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to update stock status
        function updateStock() {
            const quantityInput = $('#num-product');
            const quantity = parseInt(quantityInput.val(), 10);
            const productId = $('#addToCartBtn').data('product-id');

            $.get(`/product-stock/${productId}`, function (data) {
                const stockStatus = $('#stock-status');
                const addToCartBtn = $('#addToCartBtn');
                if (quantity > data.stock) {
                    stockStatus.removeClass('text-success').addClass('text-danger').text('Quantity exceeds available stock.');
                    addToCartBtn.prop('disabled', true);
                } else {
                    stockStatus.removeClass('text-danger').addClass('text-success').text(`${data.stock - quantity} left in stock`);
                    addToCartBtn.prop('disabled', false);
                }
            }).fail(function (error) {
                console.error('Error fetching stock:', error);
            });
        }

        // Check stock when the page loads
        updateStock();

        // Event listeners for quantity buttons
        $('.btn-num-product-down').on('click', function () {
            const quantityInput = $('#num-product');
            const currentValue = parseInt(quantityInput.val(), 10);
            quantityInput.val(Math.max(1, currentValue ));
            updateStock();
        });

        $('.btn-num-product-up').on('click', function () {
            const quantityInput = $('#num-product');
            const currentValue = parseInt(quantityInput.val(), 10);
            quantityInput.val(currentValue);
            updateStock();
        });

        $('#num-product').on('change', updateStock);

        $('#addToCartBtn').on('click', function () {
            const quantity = parseInt($('#num-product').val(), 10);
            const productId = $(this).data('product-id');

            if (isNaN(quantity) || quantity < 1) {
                Swal.fire({
                    title: 'Invalid Quantity',
                    text: 'Please enter a valid quantity.',
                    icon: 'warning',
                    confirmButtonText: 'OK'
                });
                return;
            }

            $.ajax({
                url: '/add-to-cart/cart',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ productId: productId, quantity: quantity }),
                success: function (response) {
                    if (response.success) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Product added to cart.',
                            icon: 'success',
                            confirmButtonText: 'Go to Cart'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/cart';
                            }
                        });
                    } else if (response.error) {
                        let errorMessage = response.error === 'stock'
                            ? 'The requested quantity exceeds available stock.'
                            : response.error;
                        Swal.fire({
                            title: 'Error',
                            text: errorMessage,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function (xhr) {
                    console.error('Error:', xhr.responseText);
                    Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred while adding the product to the cart.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>
