<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>Shop</h1>
                </div>
            </div>
            <div class="col-lg-7">
                
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->



<div class="untree_co-section product-section before-footer-section">
<div class="container text-capitalize">
      <div class="row">


        <% products.forEach((product) => { %>
            <div class="col-12 col-md-4 col-lg-3">
                <a class="product-item" href="/product/<%- product._id %>">
                    <img src="/uploads/products-images/crp/<%- product?.primaryImages[0].name %>" class="img-fluid product-thumbnail">
                    <h3 class="product-title"><%= product.name %></h3>
                    <strong class="product-price">$ <%= product.price %></strong>
    
                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div> 
        <% }) %>
          
        
        <!-- End Column 1 -->
            
       
      </div>
</div>




<% if (products.length > 0) { %>
 <nav aria-label="Product Pagination">
    <ul class="pagination justify-content-center mt-5">
        <% if (current==1) { %>
         <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
            <% } else { %>
        <li class="page-item"><a href="/?page=1" class="page-link">First</a></li>

         <% } %>
                <% var i = (Number(current)>5?Number(current)-4:1) %>
                <% if(i!==1){ %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>

                    <% } %>
            <% for(; i<= (Number(current)+4 )&& i<=pages; i++) { %>
                <% if (i == current) { %>
            <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
                    <% } else { %>
             <li class="page-item"><a href="/?page=<%= i %>" class="page-link"><%= i %></a></li>
                <% } %>
            <% if (i == Number(current) + 4 && i <pages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">...</a></li>

            <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
                   <% } else { %>
               <li class="page-item"><a href="/?page=<%= pages %>" class="page-link">Last</a></li>
       
                <% } %>

    </ul>
 </nav>
<% } %>
</div>



