<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">
                <%= locals.title ? locals.title : 'Dashboard' %>
            </h2>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Order Id</th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Payment</th>
                            <th>Items</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach((order, index) => { %>
                            <tr>
                                
                               <td> <%= (current - 1) * perPage + index + 1 %></td>
                                <td><%= order._id %></td>
                                <td><%= order.createdAt.toLocaleDateString('en-GB') %></td>
                                <td><%= order.customer_id ? `${order.customer_id.firstName} ${order.customer_id.lastName}` : 'Unknown User' %></td>
                                <td><%= order.paymentMethod %></td>
                                <td><%= order.items.length %></td>
                                <td><%= order.totalPrice %></td>
                                <td>
                                    <span class="badge rounded-pill
                                        <%= order.status === 'Pending' || order.status === 'Processing' || order.status === 'Shipped' ? 'alert-warning' : '' %>
                                        <%= order.status === 'Cancelled' ? 'alert-danger' : '' %>
                                        <%= order.status === 'Delivered' ? 'alert-success' : '' %>"
                                        data-toggle="modal" data-target="#statusModal-<%= index %>">
                                        <%= order.status %>
                                    </span>
                                </td>
                                
                                <td>
                                    <a href="/admin/view-orders/<%= order._id %>" class="btn btn-sm font-sm rounded btn-brand" >
                                        View
                                    </a>
                                    
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<% orders.forEach((order, index) => { %>
    <div class="modal fade" id="statusModal-<%= index %>" tabindex="-1" role="dialog" aria-labelledby="statusModalLabel-<%= index %>" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="statusModalLabel-<%= index %>">Order Id- <%= order._id %></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="statusForm-<%= index %>" action="/admin/manage-status/<%= order._id %>" method="post">
                        <div class="form-group">
                            <label for="statusSelect-<%= index %>">Status</label>
                            <select class="form-control" id="statusSelect-<%= index %>" name="status" >
                                <option value="Pending" <%= order.status === 'Pending' ? 'selected' : '' %>>Pending</option>
                                <option value="Processing" <%= order.status === 'Processing' ? 'selected' : '' %>>Processing</option>
                                <option value="Shipped" <%= order.status === 'Shipped' ? 'selected' : '' %>>Shipped</option>
                                <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                                <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="statusForm-<%= index %>" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
<% }) %>

<% if (orders.length >0 && nextPage || current == pages) { %>
    <nav aria-label="Dashboard pagination">
        <ul class="pagination justify-content-center mt-5">
            <% if (current ==1) { %>
                <li class="page-item disabled" ><a href="#" class="page-link">First</a></li>
            <% }else{  %>
  
                <li class="page-item" ><a href="/admin/orders/?page=1" class="page-link">First</a></li>
                
             <% } %>
             <% var i = (Number(current) >5  ? Number(current) - 4 :1) %>
             <% if(i !==1) { %>
                <li class="page-item disabled" ><a href="#" class="page-link">....</a></li>
  
             <% } %>
  
             <% for( ;i <= (Number(current) +4 ) && i <=pages; i++ ) { %>
                <% if (i==current) { %>
                    <li class="page-item disabled" ><a href="#" class="page-link"><%= i %></a></li>
                 
                <% } else{%>
                    <li class="page-item " ><a href="/admin/orders?page=<%= i %>" class="page-link"><%= i %></a></li>
             <% } %>
             <% if (i ==Number(current) +4 && i < pages) { %>
                <li class="page-item  disabled" ><a href="#" class="page-link">...</a></li>
                
              
                <% } %>
             <% } %>
  
             <% if (current ==pages) { %>
                <li class="page-item  disabled" ><a href="#" class="page-link">Last</a></li>
                
             <% }  else {%>
                <li class="page-item  " ><a href="#" class="page-link">Last</a></li>
  
                <% } %>
  
             
        </ul>
    </nav>
  
  <% } %>




<!-- jQuery and Bootstrap JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
