<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID: <%= order._id %></p>
        </div>
    </div>

    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b><%= order.createdAt.toLocaleDateString('en-GB') %></b>
                    </span> <br>
                    <small class="text-muted">Order ID: <%= order._id %></small>
                </div>
               
            </div>
        </header>
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                <%= order.customer_id ? `${order.customer_id.firstName} ${order.customer_id.lastName}` : 'Unknown User' %> <br> <%= order.customer_id.email %>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Shipping: Fargo express <br> Pay method: <%= order.paymentMethod %> <br> Status: <%= order.status %> 
                            </p>
                            
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <p class="mb-1">
                                
                                <strong>Name:</strong> <%= order.shippingAddress.name %></br>
                                <strong>House Name:</strong> <%= order.shippingAddress.house_name %></br>
                                <strong>Locality:</strong> <%= order.shippingAddress.locality %></br>
                                <strong>Street:</strong> <%= order.shippingAddress.area_street %></br>                                
                                <strong>State:</strong> <%= order.shippingAddress.state %></br>
                                <strong>Landmark:</strong> <%= order.shippingAddress.landmark %></br>
                                <strong>Zipcode:</strong> <%= order.shippingAddress.zipcode %></br>
                            </p>
                            
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="20%">Product</th>
                                    <th width="30%"></th>
                                    <th width="20%">Unit Price</th>
                                    <th width="10%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% order.items.forEach(item => { %>
                                    <tr>
                                        <td>
                                            <div class="left">
                                                <img src="/uploads/products-images/crp/<%= item.product_id.primaryImages[0].name %>" 
                                                     class="card-img-top" alt="<%= item.product_id.product_name %>" 
                                                     style="max-width:100px; height: auto;">
                                            </div>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <div class="info"> <%= item.product_id.product_name %> </div>
                                        </td>
                                        <td style="vertical-align: middle;"> $<%= item.price %> </td>
                                        <td style="vertical-align: middle;"> <%= item.quantity %> </td>
                                        <td class="text-end" style="vertical-align: middle;"> $<%= (item.price * item.quantity).toFixed(2) %> </td>
                                    </tr>
                                <% }); %>
                                <tr>
                                    <td colspan="5">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>$<%= order.items.reduce((sum, item) => sum + item.price * item.quantity, 0).toFixed(2) %></dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>$10.00</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">$<%= (order.items.reduce((sum, item) => sum + item.price * item.quantity, 0) + 10).toFixed(2) %></b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment done</span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
               
            </div>
        </div>
    </div>
</section>
