<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="/admin" class="brand-wrap">
            <img src="../images/icons/logo-admin.png" class="logo" alt="Evara Dashboard">
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="<%= currentRoute === '/admin' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="<%= currentRoute === '/admin/products' || '/admin/add-products' || '/admin/edit-products'  ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Products</span>
                </a>
            </li>
            <li class="<%= currentRoute === '/admin/users' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-people"></i>
                    <span class="text">Uers</span>
                </a>
            </li>
            <li class="<%= currentRoute === '/admin/category' || '/admin/add-category' || '/admin/edit-category' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-category"></i>
                    <span class="text">Category</span>
                </a>
            </li>
            
            <li class="<%= currentRoute === '/admin/orders' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-featured_play_list"></i>
                    <span class="text">Orders</span>
                </a>
                
            </li>
            <li class="<%= currentRoute === '/admin/banners' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/banners"> <i class="icon material-icons md-image"></i>
                    <span class="text">Banners</span>
                </a>
            </li>
            <li class="<%= currentRoute === '/admin/promocodes' ? 'menu-item active' : 'menu-item' %>">
                <a class="menu-link" href="/admin/promocodes"> <i class="icon material-icons md-local_offer"></i>
                    <span class="text">Promocodes</span>
                </a>
            </li>
            
        </ul>
        <br>
        <br>
    </nav>
</aside>